* {
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
 }

.div-outside {
    width: 100vw;
    height: 100vh;
    background-color: black;
    border: 16px solid lightgrey;
}

div {
    text-align: center;
    font-size: 72px;
    background-color: khaki;
    border: 24px solid crimson;
    padding: 30px;
    margin: 16px;
    width: 100%;
    height: 100%;
}
