* {
margin : 0px;
padding: 0px;
box-sizing: border-box;
color: darkslategrey ;
}

h1 {
    background-color:	rgb(152, 176, 185);
    padding: 20px
}

.content-box {
    width: 50vw;
    background-color:	rgb(230, 240, 243);
    border: 2px solid rgb(113, 133, 151);
    padding: 20px;
    margin: 30px;
}

img {
    padding: 10px;
    width: 90%;
}


